{% extends 'base.html' %}
{% load staticfiles humanize utility i18n %}
{% block content %}
    <div class="clearfix"></div>
    <div class="subHead">
        <div class="container">
            <div class="buttonMain pull-left"><a class="btn trans" href="#" title="MANAGE YOUR DIGITAL CURRENCY">
                {% trans "MANAGE YOUR DIGITAL CURRENCY" %}</a></div>
            <div class="buttonMain pull-right">
                <a class="btn active trans" href="{% url 'dashboard:index' %}"
                   title="Dashboard">{% trans 'Dashboard' %}</a> <a
                    class="btn trans" href="#" title="Settings">{% trans 'Settings' %}</a></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <section class="midPart">
        <div class="container">
            <div class="whiteBox">
                <div class="whiteBoxHead">
                    <div class="pull-right">
                        <div class="actionMain dropdownSlide">
                            {% if currencies|length > 3 %}
                                <div class="dropClick actionBtn trans">
                                    <img src="{% static 'images/dark-dots.svg' %}" alt=""/>
                                </div>
                                <div class="dropdown_box">
                                    <ul>
                                        {% for currency in currencies %}
                                            {% if forloop.counter > 3 %}
                                                <li><a class="currency-dropdown" data-type="{{ currency.name|lower }}"
                                                       data-code="{{ currency.code }}"
                                                       title="Test">{{ currency.name|title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="coinList">
                        <ul>
                            {% for currency in currencies %}
                                {% if forloop.counter <= 3 and currency.current_rate %}
                                            <li {% if forloop.first %}class="coinTabActive"{% endif %}
                                                data-coin="{{ currency.name|lower }}">
                                                <span>{{ currency.name }}</span> {{ currency.current_rate|intcomma }}
                                            </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% for currency in currencies %}
                    {% with currency.get_per_month as data %}
                        <div id="{{ currency.name|lower }}" data-coin="{{ currency.name|lower }}"
                             class="boxInner {% if forloop.first %}coinTabActive{% endif %} coinTabBody">
                            <div class="priceBoxes">
                                <div class="priceBox"><strong>${{ currency.current_rate|intcomma }}</strong>
                                    <span>{{ currency.name|upper }} PRICE</span></div>
                                <div class="priceBox {% if data.is_negative %}downArrow{% else %}upArrow{% endif %}">
                                    <strong>$ {{ data.last_rate|intcomma }}</strong>
                                    <span>{{ data.duration }} (USD)</span>
                                </div>
                                <div class="priceBox {% if data.is_negative %}downArrow{% else %}upArrow{% endif %}">
                                    <strong>{{ data.percent }}%</strong> <span>{{ data.duration }} (%)</span></div>
                            </div>
                            <div class="chartMain">
                                <canvas id="{{ currency.name }}-chart" class="barChart"></canvas>
                            </div>
                        </div>
                    {% endwith %}
                    {% empty %}
                    <p>{% trans 'No Currency data available' %}</p>
                {% endfor %}
            </div>
            <div class="whiteBox secBox">

                <div class="actionMain dropdownSlide">
                    <div class="dropClick paging actionBtn trans"><span>{% trans 'Past 7 days' %}</span> <img
                            src="{% static 'images/dark-dots.svg' %}" alt=""/></div>
                    <div class="dropdown_box">
                        <ul>
                            <li><a href="#" title="Past 30 days">{% trans 'Past 30 days' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="secTitleMain">
                    <div class="secTitle">{% trans 'Your Portfolio' %}</div>
                    <div class="subTitle">{% trans 'Total Value' %}: <strong>{% if total_balance %}$
                        {{ total_balance|intcomma }}{% else %}{% trans 'No available' %}{% endif %}</strong></div>
                </div>
                <ul class="tableRow">
                    {% for currency in user.user_currencies.all %}
                        <li>
                            <div class="col-1 coinName">{{ currency.currency }}</div>
                            <div class="col-2"><span
                                    class="priceTag">$ {% multiply currency.amount currency.currency.get_current_rate 1 %}</span>{{ currency.amount }}
                            </div>
                        </li>
                        {% empty %}
                        <p class="text-center">{% trans 'No balance available currently' %}</p>
                    {% endfor %}
                </ul>
            </div>
            <div class="whiteBox secBox">
                <div class="actionMain dropdownSlide">
                    <div class="dropClick paging actionBtn trans" ><span data-days="7" class="transation-days">{% trans 'Past 7 days' %}</span> <img
                            src="{% static 'images/dark-dots.svg' %}" alt=""/></div>
                    <div class="dropdown_box">
                        <ul>
                            <li><a data-days="30" class="transation-days" title="Past 30 days">{% trans 'Past 30 days' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="secTitleMain">
                    <div class="secTitle">{% trans 'Recent Transaction' %}</div>
                </div>

                <ul class="tabList">
                    <li class="tabActive" data-type="Sold">{% trans 'Sold' %}</li>
                    <li data-type="bought">{% trans 'Bought' %}</li>
                </ul>
                <div id="transations">
                <div class="tabMain">
                    <div id="Sold" class="tabBody tableRow tabActive fadeIndiv">
                        <table class="tableMain" width="100%">
                            {% for data in transaction.sold %}
                                <tr>
                                    <td width="150px" valign="middle" class="nameField">{{ data.created }}</td>
                                    <td width="100px" valign="middle"><span
                                            class="simbole">{{ data.currency.code }}</span></td>
                                    <td width="350px" valign="middle"><p>{{ data.message }}</p></td>
                                    <td valign="middle"><span class="table_price">{{ data.amount }}</span>
                                        <span class="wasPrice">-$ {{ data.price|intcomma }}</span>
                                    </td>
                                </tr>
                                {% empty %}
                                <p class="text-center">{% trans 'No record found' %}</p>
                            {% endfor %}
                        </table>
                        {% if transaction.sold %}
                            <div class="totleRow">{% trans 'Total Balance' %} <span
                                    class="price">{{ total_balance|intcomma }}</span></div>
                        {% endif %}
                    </div>
                    <div id="bought" class="tabBody tableRow">
                        <table class="tableMain" width="100%">
                            {% for data in transaction.bought %}
                                <tr>
                                    <td width="150px" valign="middle" class="nameField">{{ data.created }}</td>
                                    <td width="100px" valign="middle"><span
                                            class="simbole">{{ data.currency.code }}</span></td>
                                    <td width="350px" valign="middle"><p>{{ data.message }}</p></td>
                                    <td valign="middle"><span class="table_price">{{ data.amount }}</span>
                                        <span class="wasPrice">-$ {{ data.price|intcomma }}</span>
                                    </td>
                                </tr>
                                {% empty %}
                                <p class="text-center">{% trans 'No record found' %}</p>
                            {% endfor %}
                        </table>
                        {% if transaction.bought %}
                            <div class="totleRow">{% trans 'Total Balance' %} <span
                                    class="price">{{ total_balance|intcomma }}</span></div>
                        {% endif %}
                    </div>

                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "js/Chart.min.js" %}"></script>
    <script>
        function get_graph_data(currency_code, currency_name) {
            $.ajax({
                url: '{% url 'dashboard:currency_data' %}?currency_code=' + currency_code,
                type: 'get',
                cache: false,
                contentType: false,
                processData: false
            }).done(function (payload) {
                    console.log(payload);

                    var labels = payload['labels'];
                    var data = payload['data'];
                    var id = currency_name + '-chart';
                    chart(labels, data, id);

                });

        }
        function chart(labels, data, id) {
            var ctx = document.getElementById(id).getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: ''
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    }
                },
                // The data for our dataset
                data: {
                    labels: labels.reverse(),
                    datasets: [{
                        label: id,
                        backgroundColor: '#bb25ba',
                        borderColor: '#bb25ba',
                        data: data.reverse(),
                        pointRadius: 5,
                        pointHoverRadius: 7,
                        fill: false,
                        lineTension: 0,
                        borderWidth: 2
                    }
                    ]
                }
            });
        }
        $(document).on('click', '.currency-dropdown', function () {
            var type = $(this).data('type');
            var code = $(this).data('code');
            $('.coinTabActive').removeClass('coinTabActive');
            $('[data-coin="' + type + '"]').addClass('coinTabActive');

        });
        $(document).on('click', '.transation-days', function () {
            var days = $(this).data('days')
            $.ajax({
                url: '{% url 'dashboard:transation_data' %}?days=' + days,
                type: 'get',
                cache: false,
                contentType: false,
                processData: false
            }).done(function (payload) {
                console.log(payload);
                $('#transations').html(payload['payload'])
            });
        });
        $(document).ready(function () {
            var currencies = {
                'code': [{% for currency  in currencies %}"{{ currency.code }}",{% endfor %}],
                'name': [{% for currency  in currencies %}"{{ currency.name }}",{% endfor %}]
            };
            for (var i = 0; i < currencies['code'].length; i++) {
                get_graph_data(currencies['code'][i], currencies['name'][i])
            }
        })
    </script>
{% endblock %}