{% extends 'base.html' %}
{% load i18n %}
{% block body_class %}loginBg{% endblock %}
{% block content %}
    <div class="loginMid">
        <div class="loginBox">
            <div class="loginInner">
                <div class="loginTitle">{% trans 'Reset your password' %}</div>
                <p class="message"></p>
                <form action="" method="post" id="{{ form.form_id }}">
                    {{ form.errors }}
                    {% csrf_token %}
                    {% include 'form/form.html' %}
                    <div class="inputMain">
                        <input id="{{ form.form_btn_id }}" class="trans submiteBtn" type="submit" value="Reset password"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
{% endblock %}
{% block js %}
    <script>
        $.DjangoAjaxHandler2({
            submitBtn: '#{{ form.form_btn_id }}',
            form_selector: '#{{ form.form_id }}'
        })
    </script>
{% endblock %}