{% extends 'base.html' %}
{% load i18n %}
{% block body_class %}loginBg{% endblock %}
{% block content %}
     <div class="subHead">
        <div class="container">
            <div class="buttonMain pull-left"><a class="btn trans" href="#" title="MANAGE YOUR DIGITAL CURRENCY">MANAGE
                YOUR DIGITAL CURRENCY</a></div>
            <div class="buttonMain pull-right">
                <a class="btn active trans" href="{% url 'dashboard:index' %}" title="Dashboard">Dashboard</a> <a
                    class="btn trans" href="#" title="Settings">Settings</a></div>
        </div>
    </div>
    <div class="profileMid">
        <div class="loginBox">
            <div class="loginInner">
                <div class="loginTitle">{% trans 'Update Profile' %}</div>
                <form action="" method="post" id="{{ form.form_id }}">
                    {{ form.errors }}
                    {% csrf_token %}
                    {% include 'form/form.html' %}
                    <div class="inputMain">
                        <input id="{{ form.form_btn_id }}" class="trans submiteBtn" type="submit"
                               value="Update Profile"/>
                    </div>
                    <div class="forgotText">{% trans 'Change Password?' %}
                        <a class="trans" href="{% url 'accounts:password_change' %}">{% trans 'Click Here!' %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $.DjangoAjaxHandler2({
            submitBtn: '#{{ form.form_btn_id }}',
            form_selector: '#{{ form.form_id }}'
        })
    </script>
{% endblock %}
