{% load humanize i18n staticfiles %}

<div class="actionMain dropdownSlide">
    <div class="dropClick paging actionBtn trans"><span data-days="{{ days }}"
                                                        class="transation-days">{% trans 'Past' %} {{ days }} {% trans 'days' %}</span> <img src="{% static 'images/dark-dots.svg' %}" alt=""/></div>
    <div class="dropdown_box">
        <ul>
            {% for day in remaining_days %}
                <li><a data-days="{{ day }}" class="transation-days" title="Past {{ day }} days">{% trans 'Past' %} {{ day }} {% trans 'days' %}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="secTitleMain">
    <div class="secTitle">{% trans 'Recent Transaction' %}</div>
</div>

<ul class="tabList">
    <li class="tabActive" data-type="Sold">{% trans 'Sold' %}</li>
    <li data-type="bought">{% trans 'Bought' %}</li>
</ul>
<div class="tabMain">
    <div id="Sold" class="tabBody tableRow tabActive fadeIndiv">
        <table class="tableMain" width="100%">
            {% for data in transaction.sold %}
                <tr>
                    <td width="150px" valign="middle" class="nameField">{{ data.created }}</td>
                    <td width="100px" valign="middle"><span
                            class="simbole">{{ data.currency.code }}</span></td>
                    <td width="350px" valign="middle"><p>{{ data.message }}</p></td>
                    <td valign="middle"><span class="table_price">{{ data.amount }}</span>
                        <span class="wasPrice">-$ {{ data.price|intcomma }}</span>
                    </td>
                </tr>
                {% empty %}
                <p class="text-center">{% trans 'No record found' %}</p>
            {% endfor %}
        </table>
        {% if transaction.sold %}
            <div class="totleRow">{% trans 'Total Balance' %} <span
                    class="price">{{ total_balance|intcomma }}</span></div>
        {% endif %}
    </div>
    <div id="bought" class="tabBody tableRow">
        <table class="tableMain" width="100%">
            {% for data in transaction.bought %}
                <tr>
                    <td width="150px" valign="middle" class="nameField">{{ data.created }}</td>
                    <td width="100px" valign="middle"><span
                            class="simbole">{{ data.currency.code }}</span></td>
                    <td width="350px" valign="middle"><p>{{ data.message }}</p></td>
                    <td valign="middle"><span class="table_price">{{ data.amount }}</span>
                        <span class="wasPrice">-$ {{ data.price|intcomma }}</span>
                    </td>
                </tr>
                {% empty %}
                <p class="text-center">{% trans 'No record found' %}</p>
            {% endfor %}
        </table>
        {% if transaction.bought %}
            <div class="totleRow">{% trans 'Total Balance' %} <span
                    class="price">{{ total_balance|intcomma }}</span></div>
        {% endif %}
    </div>

</div>


